<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TactAcademy</title>
</head>
<body>
    <header>
        <div class="head-intro">
            <h1>Welcome to TactAcademy</h1>
        </div>
        <div class="nav-menu">
            <nav><a href="{% url 'posts:home' %}">Home</a></nav>
            <nav><a href="{% url 'posts:stories' %}">Stories</a></nav>
        </div>
        <div class="sign-log-post">
            {% if user.is_authenticated %}
                Hello! {{ user.username }}
                <nav><a href="{% url 'logout' %}">Log Out</a></nav>
                <nav><a href="{% url 'users:profile' user.username %}">Profile</a></nav>
                <nav><a href="{% url 'posts:create' %}">Create a Story</a></nav>
            {% else %}
                <nav><a href="{% url 'login' %}">Log In</a></nav>
                <nav><a href="{% url 'users:signup' %}">Join Us!</a></nav>
            {% endif %}
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
    </footer>
</body>
</html>