{% extends 'base.html' %}

{% block content %}

<div class="update-post">
    <h4><em><a href="{% url 'users:profile' post.user_account.username %}">{{ post.user_account.username }}</a></em></h3>
    <h3>{{ post.title }}</h3>
    <p class="border rounded fs-3 mx-auto" style="width: 50rem;">{{ post.story }}</p>
    {% if post.photo %}
        <img src="{{ post.photo.url }}" class="img-thumbnail" alt="NRA instructor logo"/>
    {% endif %}
</div>


{% if user == post.user_account %}
    <a href="{% url 'posts:update' post.pk %}"><input type="submit" class="btn btn-dark text-white" value="Edit"></a>
    <a href="{% url 'posts:delete' post.pk %}"><input type="submit" class="btn btn-dark text-white" value="Delete"></a>
{% endif %}


{% endblock content %}