{% extends 'base.html' %}

{% block content %}

{% comment %} <h1>Hello and welcome to TactAcademy</h1> {% endcomment %}
<h3 class="fs-1">TactAcademy is the place for firearm owners and instructors.</h3>
<p class="text-dark fs-2 mx-auto" style="width: 30rem;">Please be kind and respectfuL. Share your knowledge, tips and tricks
    so that others, over time, may become proficient.
</p>

{% for post in user.posts.all %}
<div class="card mx-auto mt-5" style="width: 18rem;">
    {% if post.photo%}
        <img src="{{ post.photo.url }}" class="card-img-top">
    {% endif %}
    <div class="card-body">
        <h3 class="card-title"><a href="/posts/">{{ post.title }}</a></h3>
    </div>
</div>
{% endfor %}

{% endblock content %}